* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px;
  background-color: #1f2937;
}

ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

a,
.section-one .subtext {
  text-decoration: none;
  font-size: 18px;
  color: #e5e7eb;
}

#logo {
  width: 115px;
  height: 100px;
}

.section-one {
  background-color: #1f2937;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
  padding: 100px 0;
}

.section-one .main-text {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}

#main-image {
  width: 385px;
  height: auto;
}

.paragraph {
  width: 450px;
  height: auto;
}

.signup-top {
  background-color: #3882f6;
  color: #f9faf8;
  padding: 8px 25px;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  margin-top: 12px;
}

.info-container {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 50px;
  margin-bottom: 80px;
}

.image-info img {
  width: 208px;
  height: 208px;
  border: 4px solid #3882f6;
  border-radius: 15px;
}

.image-info {
  width: 215px;
}

i {
  font-size: 36px;
  color: #1f2937;
  font-weight: 300;
}

.section-three {
  background-color: #e5e7eb;
  padding: 100px 300px;
}

.author {
  font-size: 25px;
  font-weight: 800;
  text-align: end;
}

.section-four {
  padding: 80px 0;
}

.signup-bg {
  background-color: #3882f6;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 225px;
  padding: 50px 0;
  border-radius: 8px;
  gap: 230px;
}

.signup-bot {
  background-color: #3882f6;
  color: #f9faf8;
  padding: 8px 25px;
  border: 2px solid #f9faf8;
  border-radius: 8px;
  font-weight: 600;
}

footer {
  background-color: #1f2937;
  color: #e5e7eb;
  font-size: 18px;
  text-align: center;
  padding: 30px 0;
}
